.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0;
  }
}
