.modal__content_type_image {
  width: 498px;
  padding: 0;
  width: 100%;
}

.modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__close_image {
  background: transparent url(../../assets/White-close-icon.png) center
    no-repeat;
  width: 20px;
  height: 20px;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 32px;
}

.modal__caption {
  margin: 0;
  margin-bottom: 12px;
}

.modal__weather {
  margin: 0;
}
