.modal {
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal__content_type_image {
  width: 498px;
  padding: 0;
  width: 100%;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__close_image {
  background: transparent url(../../assets/White-close-icon.png) center
    no-repeat;
  width: 20px;
  height: 20px;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 32px;
  position: relative;
}

.modal__caption {
  margin: 0;
  margin-bottom: 12px;
}

.modal__weather {
  margin: 0;
}

.modal__delete {
  position: absolute;
  align-self: flex-end;
  width: 98px;
  height: 14px;
  border: none;
  background-color: transparent;
  color: rgba(255, 77, 0, 1);
  padding: 0;
  margin: 0;
}

.modal__delete:hover {
  cursor: pointer;
  color: rgba(255, 77, 0, 0.7);
}

.modal__delete-preview {
  visibility: hidden;
}
