.footer {
  display: flex;
  justify-content: space-between;
}

.footer__developed {
  font-size: 16px;
  font-weight: 500;
  padding: 171px 0 24px;
}

.footer__year {
  font-size: 16px;
  font-weight: 500;
  padding: 171px 0 24px;
}
